#set( $length = $file.getName().lastIndexOf('.') )
#set( $repName = $file.getName().substring(0, $length)+ "_files")
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Donnees d'analyse interlocutoire</title>
</head>

<body lang=FR>

<div>
#if ($pagePrecedente)
	<a href="$pagePrecedente">Page precedente</a><tab/>    
#end
#if ($pageSuivante)
	<a href="$pageSuivante">Page suivante</a><br/>
#end
<h1>Liste des étapes</h1>
#foreach( $pack in $packs )
	#if ($pack.getTitle())
		<a href="#$pack.getTitle()">$pack.getTitle()</a><br/>
	#end
#end

<p></p>
#set( $iPack = 0)
#foreach( $pack in $packs )
	#if ($pack.getTitle())
		<a name="$pack.getTitle()"/>
		<h1>$pack.getTitle()</h1>
	#end
<table border=0 cellspacing=0 cellpadding=0>
	#set( $compteur = 0)
	#foreach( $image in $pack.getImages())
		#set ($imgName = "image" + $iPack +"_" +$velocityCount +".jpg")
		#set ($newPath = $exporter.writeImage($repName,$image,$imgName))
<tr>
		#set( $compteur = $compteur+1)
		#set( $shape = $compteur+24)
<td>
<p><img width=$image.getWidth() height=$image.getHeight() src="$newPath" ></p>
</td>
</tr>

	#end
</table>
	#set( $iPack = $iPack + 1)
#end
#if ($pagePrecedente)
	<a href="$pagePrecedente">Page precedente</a>    
#end
#if ($pageSuivante)
	<a href="$pageSuivante">Page suivante</a><br/>
#end

</div>

</body>

</html>



