#set( $length = $file.getName().lastIndexOf('.') )
#set( $repName = $file.getName().substring(0, $length)+ "_files")
<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:w="urn:schemas-microsoft-com:office:word"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=Word.Document>
<meta name=Generator content="Microsoft Word 11">
<meta name=Originator content="Microsoft Word 11">
<link rel=File-List href="$repName/filelist.xml">
<link rel=Edit-Time-Data href="$repName/editdata.mso">
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
w\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
</style>
<![endif]-->
<!--[if gte mso 9]><xml>
 <o:DocumentProperties>
  <o:Author>LKL</o:Author>
  <o:LastAuthor>LKL</o:LastAuthor>
  <o:Revision>2</o:Revision>
  <o:TotalTime>3</o:TotalTime>
  <o:Created>2007-11-21T11:19:00Z</o:Created>
  <o:LastSaved>2007-11-21T11:19:00Z</o:LastSaved>
  <o:Pages>1</o:Pages>
  <o:Words>34</o:Words>
  <o:Characters>191</o:Characters>
  <o:Company>ELCA Informatique SA</o:Company>
  <o:Lines>1</o:Lines>
  <o:Paragraphs>1</o:Paragraphs>
  <o:CharactersWithSpaces>224</o:CharactersWithSpaces>
  <o:Version>11.8132</o:Version>
 </o:DocumentProperties>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <w:WordDocument>
  <w:SpellingState>Clean</w:SpellingState>
  <w:GrammarState>Clean</w:GrammarState>
  <w:HyphenationZone>21</w:HyphenationZone>
  <w:PunctuationKerning/>
  <w:ValidateAgainstSchemas/>
  <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
  <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
  <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
  <w:Compatibility>
   <w:BreakWrappedTables/>
   <w:SnapToGridInCell/>
   <w:WrapTextWithPunct/>
   <w:UseAsianBreakRules/>
   <w:DontGrowAutofit/>
  </w:Compatibility>
  <w:BrowserLevel>MicrosoftInternetExplorer4</w:BrowserLevel>
 </w:WordDocument>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <w:LatentStyles DefLockedState="false" LatentStyleCount="156">
 </w:LatentStyles>
</xml><![endif]-->
<style>
<!--
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{mso-style-parent:"";
	margin:0cm;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:"Times New Roman";
	mso-fareast-font-family:"Times New Roman";}
h1
	{mso-margin-top-alt:auto;
	margin-right:0cm;
	mso-margin-bottom-alt:auto;
	margin-left:0cm;
	mso-pagination:widow-orphan;
	mso-outline-level:1;
	font-size:24.0pt;
	font-family:"Times New Roman";}
p.MsoPlainText, li.MsoPlainText, div.MsoPlainText
	{margin:0cm;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:10.0pt;
	font-family:"Courier New";
	mso-fareast-font-family:"Times New Roman";}
@page Section1
	{size:595.3pt 841.9pt;
	margin:70.85pt 70.85pt 70.85pt 70.85pt;
	mso-header-margin:35.4pt;
	mso-footer-margin:35.4pt;
	mso-paper-source:0;}
div.Section1
	{page:Section1;}
-->
</style>
<!--[if gte mso 10]>
<style>
 /* Style Definitions */
 table.MsoNormalTable
	{mso-style-name:"Table Normal";
	mso-tstyle-rowband-size:0;
	mso-tstyle-colband-size:0;
	mso-style-noshow:yes;
	mso-style-parent:"";
	mso-padding-alt:0cm 5.4pt 0cm 5.4pt;
	mso-para-margin:0cm;
	mso-para-margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:10.0pt;
	font-family:"Times New Roman";
	mso-ansi-language:#0400;
	mso-fareast-language:#0400;
	mso-bidi-language:#0400;}
</style>
<![endif]-->
</head>

<body lang=FR style='tab-interval:35.4pt'>

<div class=Section1>

<p class=MsoPlainText><o:p>&nbsp;</o:p></p>

#foreach( $pack in $packs )
	#if ($pack.getTitle())
		<h1>$pack.getTitle()</h1>
	#end
<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='mso-cellspacing:0cm;mso-padding-alt:0cm 0cm 0cm 0cm'>
#set( $compteur = 0)
#foreach( $image in $pack.getImages())
#set ($imgName = "image" + $velocityCount + ".jpg")
#set ($newPath = $exporter.writeImage($repName,$image,$imgName))
 <tr style='mso-yfti-irow:$compteur'>
 #set( $compteur = $compteur+1)
#set( $shape = $compteur+24)
  <td style='padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><!--[if gte vml 1]><v:shape id="_x0000_i10$shape" type="#_x0000_t75"
   alt="" style='width:450pt'>
   <v:imagedata src="$newPath" o:title=""/>
  </v:shape><![endif]--><![if !vml]><img width=$image.getWidth() height=$image.getHeight()
  src="$newPath" v:shapes="_x0000_i10$shape"><![endif]></p>
  </td>
 </tr>

#end
 </table>
#end
<p class=MsoNormal><o:p>&nbsp;</o:p></p>

</div>

</body>

</html>
#set ($fileListName = $repName + "/filelist.xml")
#set ($template = "filelist.vm")
#set ($ok=$exporter.handleTemplate($fileListName,$template))



